.hero {
    background-color: var(--yellow);
    font-size: 18px;
    line-height: 1.6;
    padding-top: 62px;
}

.hero__background {
    padding: 99px 0 100px;
}

.hero__foreground {
    text-align: center;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__subtitle {
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 1.4px;
    margin-bottom: 6px;
}

.hero__button {
    display: inline-block;
    padding: 11px 29px;
    background-color: var(--light-blue);
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all 0.6s ease-out;
}

.hero__button:hover,
.hero__button:active {
    background-color: transparent;
    border-color: var(--blue);
    color: var(--blue);
}

.hero__description {
    margin-bottom: 36px;
}